<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      
    </div>
  <% end %>
  <div class="field">
    <%= form.label :Name %><br />
    <%= form.text_field :name, placeholder: "Enter recipe name" %>
  </div>
  <div class="field">
    <%= form.label :"Preparation Time" %><br />
    <%= form.text_field :preparation_time, placeholder: "Enter preparation time" %>
  </div>
  <div class="field">
    <%= form.label :"Cooking Time" %><br />
    <%= form.text_field :cooking_time, placeholder: "Enter cookiing time" %>
  </div>
  <div class="field">
    <%= form.label :Description %><br />
    <%= form.text_area :description, placeholder: "Enter recipe description" %>
  </div>
  <div class="field">
    <%= form.label :Public %><br />
    <%= form.label :public, "YES", value: "true"  %>
    <%= form.radio_button :public, true, checked: true %>
    <%= form.label :public, "NO", value: "false" %>
    <%= form.radio_button :public, false %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
